<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
		<title>title</title>
		<link rel="stylesheet" type="text/css" href="../../css/Hui.css"/>
		<style>
			body {
			}
			.H-theme-font-color-zhuti {
				color: #ff6606;
			}
			.H-theme-background-color-zhuti {
				background-color: #ff6606;
			}
			.H-theme-border-color8 {
				border: 1px solid #ff6606;
			}
		</style>
	</head>
	<body>
		<div class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
			<div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-font-weight-600 H-padding-vertical-both-12">
				熊出没之熊心归来 <span class="H-margin-horizontal-left-5 H-font-size-14 H-theme-font-color-999">编号：12470</span>
				<button class="H-margin-horizontal-left-1 H-button-1 H-font-size-15 H-outline-none H-padding-vertical-both-4 H-padding-horizontal-both-5 H-theme-background-color-zhuti H-theme-font-color-white H-theme-border-color8 H-theme-border-color8-click H-theme-background-color8-click H-theme-font-color8-click H-border-radius-3">
					购买全集
				</button>
			</div>
			<span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-star-null H-theme-font-color-zhuti H-font-size-18  H-vertical-middle"></i><span class="H-font-size-12 H-margin-horizontal-right-10 H-margin-vertical-top-2"style="margin-top: -10px"> 收藏</span></span>
		</div>
		<!--		<div class="H-padding-vertical-bottom-10"></div>-->
		<div class="result"></div>
		<script type="text/html" id="tppl">
			<% for(var i=0; i < list.length; i++){ %>
			<div onclick="setpath(this,'<%=list[i] %>')" class=" fangkuang H-margin-horizontal-both-2 H-margin-vertical-both-5 H-theme-font-color-zhuti    H-padding-horizontal-both-10 H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-9 H-center-all H-theme-background-color-white H-border-horizontal-right-after H-border-vertical-bottom-after H-padding-vertical-both-10" style="max-height: 40px; min-width: 45px;border-radius: 4px;">
			<div class=" H-center-all"style="line-height: 20px">
			<%=[i+1]%> <!--<span class="H-icon H-display-block H-horizontal-center"><i class="H-iconfont H-icon-user H-font-size-24 H-vertical-middle"></i></span>-->
			<label class="H-display-block H-font-size-12"></label>
			</div>
			</div><% } %>
		</script>
		<div class="H-margin-horizontal-both-2 H-margin-vertical-both-5  H-border-radius-9 H-padding-horizontal-both-10 H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-9 H-center-all H-theme-background-color-white H-border-horizontal-right-after H-border-vertical-bottom-after H-padding-vertical-both-10" style="max-height: 40px;min-width: 45px;border-radius: 4px;">
			<div class=" "style="line-height: 20px">
				<i class="H-iconfont H-icon-add H-theme-font-color-zhuti H-font-size-18  H-vertical-middle"></i>
				<!--<span class="H-icon H-display-block H-horizontal-center"><i class="H-iconfont H-icon-user H-font-size-24 H-vertical-middle"></i></span>-->
				<label class="H-display-block H-font-size-12"></label>
			</div>
		</div>
		<div class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle H-border-vertical-bottom-after">
			<div class="H-channel-line H-theme-background-color-zhuti H-padding-vertical-top-15 H-padding-horizontal-left-3  H-margin-horizontal-left-4"></div>
			<div class="H-channel-text H-theme-font-color-black H-flex-item H-font-size-18 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">
				图片 <i class="H-iconfont H-icon-arrow-right H-font-size-25 "></i>
			</div>
			<span tapmode=""  data-open="false" class="H-icon H-position-relative H-display-block H-float-right H-vertical-middle H-theme-font-color-black H-padding-horizontal-both-10 H-z-index-1000 H-theme-font-color-hui">范冰冰 &nbsp<div style="height:14px; width:1px; border-left:1px #9E9E9E solid"></div>&nbsp 张馨予</span>
		</div>
		<div class="H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-both-10 H-theme-background-color-white">
			<div class="H-display-table-cell H-theme-background-color-white H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-4 H-margin-vertical-bottom-10   " style="margin-bottom: 10px; ">
				<img src="../../image/1.jpg" class=" H-float-right H-margin-vertical-top-8 H-margin-horizontal-both-2 H-display-block" alt="" title="" style="width: 96%">
				<img src="../../image/xia.png " class=" H-float-right  H-margin-vertical-top-8 H-margin-horizontal-both-2 H-display-block" style="margin-top: -200px; height: 200px ; width: 96%" alt="" title="">
				<div  class=" " style=" margin-right:8px; margin-top:-30px;line-height: 30px; float: right; color:white ;">
					12:20
				</div>
				<div class="H-text-align-center H-font-size-14 H-padding-vertical-top-10    "style="line-height: 35px" >
					图片说明1
				</div>
				<div class="H-padding-vertical-bottom-10 H-theme-background-color-eee  " style="margin: 0 -10px"></div>
			</div>
			<div class="H-display-table-cell H-theme-background-color-white H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-4 H-margin-vertical-bottom-10   " style="margin-bottom: 10px; ">
				<img src="../../image/1.jpg" class=" H-float-right H-margin-vertical-top-8 H-margin-horizontal-both-2 H-display-block" alt="" title="" style="width: 96%">
				<img src="../../image/xia.png " class=" H-float-right  H-margin-vertical-top-8 H-margin-horizontal-both-2 H-display-block" style="margin-top: -200px; height: 200px ; width: 96%" alt="" title="">
				<div  class=" " style=" margin-right:8px; margin-top:-30px;line-height: 30px; float: right; color:white ;">
					12:20
				</div>
				<div class="H-text-align-center H-font-size-14 H-padding-vertical-top-10    "style="line-height: 35px" >
					图片说明1
				</div>
				<div class="H-padding-vertical-bottom-10 H-theme-background-color-eee  " style="margin: 0 -10px"></div>
			</div>
			<div class="H-display-table-cell H-theme-background-color-white H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-4 H-margin-vertical-bottom-10   " style="margin-bottom: 10px; ">
				<img src="../../image/1.jpg" class=" H-float-right H-margin-vertical-top-8 H-margin-horizontal-both-2 H-display-block" alt="" title="" style="width: 96%">
				<img src="../../image/xia.png " class=" H-float-right  H-margin-vertical-top-8 H-margin-horizontal-both-2 H-display-block" style="margin-top: -200px; height: 200px ; width: 96%" alt="" title="">
				<div  class=" " style=" margin-right:8px; margin-top:-30px;line-height: 30px; float: right; color:white ;">
					12:20
				</div>
				<div class="H-text-align-center H-font-size-14 H-padding-vertical-top-10    "style="line-height: 35px" >
					图片说明1
				</div>
				<div class="H-padding-vertical-bottom-10 H-theme-background-color-eee  " style="margin: 0 -10px"></div>
			</div>
			<div class="H-display-table-cell H-theme-background-color-white H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-4 H-margin-vertical-bottom-10   " style="margin-bottom: 10px; ">
				<img src="../../image/1.jpg" class=" H-float-right H-margin-vertical-top-8 H-margin-horizontal-both-2 H-display-block" alt="" title="" style="width: 96%">
				<img src="../../image/xia.png " class=" H-float-right  H-margin-vertical-top-8 H-margin-horizontal-both-2 H-display-block" style="margin-top: -200px; height: 200px ; width: 96%" alt="" title="">
				<div  class=" " style=" margin-right:8px; margin-top:-30px;line-height: 30px; float: right; color:white ;">
					12:20
				</div>
				<div class="H-text-align-center H-font-size-14 H-padding-vertical-top-10    "style="line-height: 35px" >
					图片说明1
				</div>
				<div class="H-padding-vertical-bottom-10 H-theme-background-color-eee  " style="margin: 0 -10px"></div>
			</div>
			<div class="H-display-table-cell H-theme-background-color-white H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-4 H-margin-vertical-bottom-10   " style="margin-bottom: 10px; ">
				<img src="../../image/1.jpg" class=" H-float-right H-margin-vertical-top-8 H-margin-horizontal-both-2 H-display-block" alt="" title="" style="width: 96%">
				<img src="../../image/xia.png " class=" H-float-right  H-margin-vertical-top-8 H-margin-horizontal-both-2 H-display-block" style="margin-top: -200px; height: 200px ; width: 96%" alt="" title="">
				<div  class=" " style=" margin-right:8px; margin-top:-30px;line-height: 30px; float: right; color:white ;">
					12:20
				</div>
				<div class="H-text-align-center H-font-size-14 H-padding-vertical-top-10    "style="line-height: 35px" >
					图片说明1
				</div>
				<div class="H-padding-vertical-bottom-10 H-theme-background-color-eee  " style="margin: 0 -10px"></div>
			</div>
			<div class="H-display-table-cell H-theme-background-color-white H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-4 H-margin-vertical-bottom-10   " style="margin-bottom: 10px; ">
				<img src="../../image/1.jpg" class=" H-float-right H-margin-vertical-top-8 H-margin-horizontal-both-2 H-display-block" alt="" title="" style="width: 96%">
				<img src="../../image/xia.png " class=" H-float-right  H-margin-vertical-top-8 H-margin-horizontal-both-2 H-display-block" style="margin-top: -200px; height: 200px ; width: 96%" alt="" title="">
				<div  class=" " style=" margin-right:8px; margin-top:-30px;line-height: 30px; float: right; color:white ;">
					12:20
				</div>
				<div class="H-text-align-center H-font-size-14 H-padding-vertical-top-10    "style="line-height: 35px" >
					图片说明1
				</div>
				<div class="H-padding-vertical-bottom-10 H-theme-background-color-eee  " style="margin: 0 -10px"></div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/H.js"></script>
	<script type="text/javascript">
		H.tppl_flag = ["<%", "%>"];
		apiready = function() {
			var varr = api.pageParam.varr
			var vlist = varr.split(',');
			var playlist = vlist
			var data = {
				list : vlist
			};
			var render = H.tppl(H.D("#tppl").innerHTML);
			H.D(".result").innerHTML = render(data);
		};
		function setpath(button,url) {
	   var dd = document.getElementsByClassName('fangkuang');
					for ( i = 0; i < dd.length; i++) {
						$api.attr(dd[i], 'class', 'fangkuang H-margin-horizontal-both-2   H-margin-vertical-both-5 H-theme-font-color-zhuti    H-padding-horizontal-both-10 H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-9 H-center-all H-theme-background-color-white H-border-horizontal-right-after H-border-vertical-bottom-after H-padding-vertical-both-10');
					}	    
  $api.attr(button, 'class', 'fangkuang H-margin-horizontal-both-2 H-theme-border-color8 H-margin-vertical-both-5 H-theme-font-color-zhuti    H-padding-horizontal-both-10 H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-9 H-center-all H-theme-background-color-white H-border-horizontal-right-after H-border-vertical-bottom-after H-padding-vertical-both-10');
	
		
		
			api.setPrefs({
				key : 'vurl',
				value : url
			});
			var jsfun = 'setv()'
			api.execScript({
				name : 'veido',
				frameName : 'top',
				script : jsfun
			});
		}
	</script>
</html>