<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>title</title>
		<link rel="stylesheet" type="text/css" href="../../css/Hui.css"/>
		<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1473561265_8698473.css"/>
		<style>
			.H-font-size-18 {
				font-size: 18px;
			}
			.H-theme-border-color8 {
				border: 1px solid #e43252;
			}
			.H-padding-horizontal-left-5 {
				padding-left: 5px;
				margin-left: 3px;
			}
			.H-padding-vertical-top-20 {
				padding-top: 22px;
			}
		</style>
	</head>
	<body>
		<div id="share" class="single-menu bottom_footer H-display-none-important  H-background-color-red H-flexbox-vertical animated bounceIn  H-position-absolute H-vertical-top-0 H-horizontal-left-0 H-horizontal-right-0 H-vertical-bottom-0 H-height-100-percent H-width-100-percent H-z-index-1000000">
			<div class="space H-flex-item"></div>
			<div class="share-menu">
				<div class="H-flexbox-horizontal H-text-align-center H-theme-background-color-white H-padding-vertical-both-10">
					<div class="H-flex-item">
						<span class="H-icon H-center-all H-theme-background-color1 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="iconfont icon-qq H-font-size-22 H-theme-font-color-white"></i></span>
						<label class="H-display-block H-font-size-13 H-margin-vertical-top-5">QQ好友</label>
					</div>
					<div onclick="share('街拍','街拍测试','session',shareUrl) " class="H-flex-item">
						<span class="H-icon H-center-all H-theme-background-color2 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="iconfont icon-weixin H-font-size-22 H-theme-font-color-white"></i></span>
						<label class="H-display-block H-font-size-13 H-margin-vertical-top-5">微信好友</label>
					</div>
					<div onclick="share('街拍','街拍测试','timeline',shareUrl) " class="H-flex-item">
						<span class="H-icon H-center-all H-theme-background-color5 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="iconfont icon-pengyouquan H-font-size-22 H-theme-font-color-white"></i></span>
						<label class="H-display-block H-font-size-13 H-margin-vertical-top-5">朋友圈</label>
					</div>
					<div onclick="guanbi()" class="H-flex-item">
						<span  class="H-icon H-center-all H-theme-background-color5 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="iconfont icon-guanbi1 H-font-size-22 H-theme-font-color-white" style="font-size:20px"></i></span>
						<label class="H-display-block H-font-size-13 H-margin-vertical-top-5">关闭</label>
					</div>
				</div>
			</div>
		</div>
		<div id="title" class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle  H-border-vertical-bottom-after2">
			<!--<div class="H-flex-item H-padding-horizontal-both-10 H-font-size-15  H-padding-vertical-both-12" style="color:#333333 ;">
			<span class="H-margin-horizontal-left-5 H-font-size-14 "style="color:#999999 ;">编号：<span>1211</span></span>
			</div>
			<span class="H-icon H-padding-horizontal-right-1 H-display-block  "><i onclick="fenxiang() " class="iconfont icon-fenxiang H-theme-font-color-zhuti H-font-size-18  H-horizontal-center"style="line-height: 1.1"></i> <span onclick="" class="H-font-size-12 H-margin-horizontal-right-10 H-margin-vertical-top-2  "style="margin-left:13px;color:#333333">分享</span></span>
			<span class="H-icon H-padding-horizontal-right-5 H-display-block  "><i onclick="shoucangV(' + vid + ')" class="iconfont icon-shoucang H-theme-font-color-zhuti H-font-size-18  H-horizontal-center"style="line-height: 1.1"></i> <span onclick="shoucangV(' + vid + ')" class="H-font-size-12 H-margin-horizontal-right-10 H-margin-vertical-top-2  "style="margin-left:13px;color:#333333">收藏</span></span>-->
		</div>
		<!--		<div class="H-padding-vertical-bottom-10"></div>-->
		<div class="result  " style="background-color: red" ></div>
		<script type="text/html" id="tppl">
			<% for(var i=0; i < list.length; i++){ if(list.length==1){ %>
			<% } else{%>
			<div onclick="setpath(this,'<%=list[i] %>',<%=[i]%>)" class=" fangkuang H-margin-horizontal-both-1 H-margin-vertical-both-2 H-theme-font-color-zhuti     H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-9 H-center-all H-theme-background-color-white H-border-horizontal-right-after H-border-vertical-bottom-after H-padding-vertical-both-10" style="max-height: 40px; min-width: 45px;border-radius: 4px;">
			<div class=" H-center-all"style="line-height: 20px">
			<%=[i+1]%>   <!--<span class="H-icon H-display-block H-horizontal-center"><i class="H-iconfont H-icon-user H-font-size-24 H-vertical-middle"></i></span>-->
			<label class="H-display-block H-font-size-12"></label>
			</div>
			</div>
			<% }}%>
		</script>
		<div class="H-padding-vertical-bottom-2"></div>
		<div class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle  ">
			<div class="H-channel-line H-theme-background-color-zhuti H-padding-vertical-top-20 H-padding-horizontal-left-5  H-margin-horizontal-left-4"></div>
			<div class="  H-channel-text H-theme-font-color-black H-flex-item H-font-size-14 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">
				推荐
			</div>
			<!--<span tapmode=""  data-open="false" class="H-icon H-position-relative H-display-block H-float-right H-vertical-middle H-theme-font-color-black H-padding-horizontal-both-10 H-z-index-1000 H-theme-font-color-hui  H-font-size-14 ">范冰冰 &nbsp<div style="height:14px; width:1px; border-left:1px #9E9E9E solid"></div>&nbsp 张馨予</span>-->
		</div>
		<div id="list" class="H-clear-both H-width-100-percent H-theme-background-color-white H-display-table H-box-sizing-border-box H-padding-horizontal-both-10"></div>
		<div class="H-padding-vertical-bottom-2"></div>
		<div class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle H-border-vertical-bottom-after">
			<div class="H-channel-line H-theme-background-color-zhuti H-padding-vertical-top-20 H-padding-horizontal-left-5 H-margin-horizontal-left-4"></div>
			<div class="H-channel-text H-theme-font-color-black H-flex-item H-font-size-14 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">
				视频截图预览
			</div>
			<!--<span tapmode=""  data-open="false" class="H-icon H-position-relative H-display-block H-float-right H-vertical-middle H-theme-font-color-black H-padding-horizontal-both-10 H-z-index-1000 H-theme-font-color-hui">范冰冰 &nbsp<div style="height:14px; width:1px; border-left:1px #9E9E9E solid"></div>&nbsp 张馨予</span>-->
		</div>
		<div class="H-width-100-percent H-theme-background-color-white "style="height: 5px;"></div>
		<div id="img" class="H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-both-10 H-theme-background-color-white  "></div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/H.js"></script>
	<script type="text/javascript" src="../../script/jie.js"></script>
	<script type="text/javascript" src="../../script/echo.min.js"></script>
	<script type="text/javascript">
		function fenxiang() {
			$api.removeCls($api.byId('share'), 'H-display-none-important');
			//		  $api.addCls($api.byId('share'), 'single-menu H-background-color-transparent-1 H-flexbox-vertical   H-position-absolute H-vertical-top-0 H-horizontal-left-0 H-horizontal-right-0 H-vertical-bottom-0 H-height-100-percent H-width-100-percent H-z-index-1000000"');
		}

		function guanbi() {
			$api.removeCls($api.byId('share'), 'H-display-none-important');
			$api.addCls($api.byId('share'), 'H-display-none-important');
		}


		H.tppl_flag = ["<%", "%>"];
		function openV(url, vid, varr, title, vbianhao, img, vprice, xu, fname, vvprice) {
			api.openWin({
				name : 'veido',
				url : '../../html/vedio/index.html',
				pageParam : {
					name : url,
					varr : varr,
					title : title,
					vbianhao : vbianhao,
					vid : vid,
					shoucang : 1,
					img : img,
					vprice : vprice,
					xu : xu,
					fname : fname,
					vvprice : vvprice,
					type : '视频'
				},
				reload : true
			});
			api.sendEvent({
				name : 'stopvedio',
				extra : {
					vurl : url  ,
				}
			});
		}

		apiready = function() {
			var varr = api.pageParam.varr
			var vtitle = api.pageParam.title
			var vbianhao = api.pageParam.vbianhao
			var vprice = api.pageParam.vprice
			var xu = api.pageParam.xu
			var gradexu = api.pageParam.gradexu
			var vid = api.pageParam.vid
			var vlist = varr.split(',');
			var playlist = vlist
			setTimeout(api.hideProgress(),300)
			/////////
			var abc = 0
			var userxu = api.getPrefs({
				sync : true,
				key : 'userinfo'
			});
			var num = Math.random() * 700 + 800;
			num = parseInt(num, 10);
			//////////////
			var tradeNO = (new Date()).num;
			var data = {
				list : vlist
			};
			if (vlist.length == 1 || userxu == 1 || !userxu) {
				title = ""
				var render = H.tppl(H.D("#tppl").innerHTML);
				H.D(".result").innerHTML = render(data);
				//			$api.attr($api.byId('img'), 'src', imgg);
				var html = '';
				html += '<div class="H-flex-item H-padding-horizontal-both-10 H-font-size-15  H-padding-vertical-both-12" style="color:#333333 ;">' + vtitle.substr(0, 16) + '<br><span class=" H-font-size-14 "style="color:#999999 ;">编号：<span>' + vbianhao + '</span></span>';
				html += '  </div>';
				html += '<span class="H-icon H-padding-horizontal-right-1 H-display-block  "><i onclick="fenxiang() " class="iconfont icon-fenxiang H-theme-font-color-zhuti H-font-size-18  H-horizontal-center"style="line-height: 1.1"></i> <span onclick="fenxiang()" class="H-font-size-12 H-margin-horizontal-right-10 H-margin-vertical-top-2  "style="margin-left:13px;color:#333333">分享</span></span><span class="H-icon H-padding-horizontal-right-5 H-display-block  "><i onclick="shoucangV(' + vid + ')" class="iconfont icon-shoucang H-theme-font-color-zhuti H-font-size-18  H-horizontal-center"style="line-height: 1.1"></i> <span onclick="shoucangV(' + vid + ')" class="H-font-size-12 H-margin-horizontal-right-10 H-margin-vertical-top-2  "style="margin-left:13px;color:#333333">收藏</span></span>';
				$api.html($api.byId('title'), html);
			} else {
				title = "购买全集"
				var render = H.tppl(H.D("#tppl").innerHTML);
				H.D(".result").innerHTML = render(data);
				var html = '';
				html += '<div class="H-flex-item H-padding-horizontal-both-10 H-font-size-15  H-padding-vertical-both-12">' + vtitle.substr(0, 10) + '<span class=" H-font-size-14 H-theme-font-color-999">编号：<span>' + vbianhao + '</span></span>';
				html += '<button onclick="jiepay(\'' + title + '\',\'' + vtitle + '\',\'' + vprice + '\',' + abc + ',\'' + gradexu + '\',\'' + vid + '\',' + xu + ')" class="H-margin-horizontal-left-5 H-button-1 H-font-size-15 H-outline-none H-padding-vertical-both-4 H-padding-horizontal-both-5 H-theme-background-color-zhuti H-theme-font-color-white H-theme-border-color-zhuti H-theme-border-color8-click H-theme-background-color8-click H-theme-font-color8-click H-border-radius-3">' + title + ' </button> </div>';
				html += '<span class="H-icon H-padding-horizontal-right-1 H-display-block  "><i onclick="fenxiang() " class="iconfont icon-fenxiang H-theme-font-color-zhuti H-font-size-18  H-horizontal-center"style="line-height: 1.1"></i> <span onclick="fenxiang()" class="H-font-size-12 H-margin-horizontal-right-10 H-margin-vertical-top-2  "style="margin-left:13px;color:#333333">分享</span></span><span class="H-icon H-padding-horizontal-right-5 H-display-block  "><i onclick="shoucangV(' + vid + ')" class="iconfont icon-shoucang H-theme-font-color-zhuti H-font-size-18  H-horizontal-center"style="line-height: 1.1"></i> <span onclick="shoucangV(' + vid + ')" class="H-font-size-12 H-margin-horizontal-right-10 H-margin-vertical-top-2  "style="margin-left:13px;color:#333333">收藏</span></span>';
				$api.html($api.byId('title'), html);
			}
			//			预览图渲染
			var pic = api.pageParam.img
			var img = pic.split(' ');
			var html2 = '';
			for (var i = 0; i < img.length; i++) {
				html2 += '<div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-5 H-margin-vertical-bottom-5">';
				html2 += '<img src="' + img[i] + '" class="H-width-100-percent H-display-block" alt="" title=""></div>';
			}
			$api.html($api.byId('img'), html2);
			tuijian()
		};
		function setpath(button, url, i) {
			var filegrade = api.pageParam.xu
			var vid = api.pageParam.vid
			var dangeid = vid + i
			isyouxiao(filegrade, vid, 0)
			api.addEventListener({
				name : 'quanxian'
			}, function(ret, err) {
				if (ret) {
					var dd = document.getElementsByClassName('fangkuang');
					for ( ii = 0; ii < dd.length; ii++) {
						$api.attr(dd[ii], 'class', 'fangkuang H-margin-horizontal-both-1   H-margin-vertical-both-2 H-theme-font-color-zhuti    H-padding-horizontal-both-10 H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-9 H-center-all H-theme-background-color-white H-border-horizontal-right-after H-border-vertical-bottom-after H-padding-vertical-both-10');
					}
					$api.attr(button, 'class', 'fangkuang H-margin-horizontal-both-1 H-theme-border-color8 H-margin-vertical-both-2 H-theme-font-color-zhuti    H-padding-horizontal-both-10 H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-9 H-center-all H-theme-background-color-white H-border-horizontal-right-after H-border-vertical-bottom-after H-padding-vertical-both-10');
					api.setPrefs({
						key : 'vurl',
						value : url
					});
					var jsfun = 'setv()'
					api.execScript({
						frameName : 'top',
						script : jsfun
					});
				} else {
					//					alert(000)
				}
			});
		}

		function shoucangV(vid) {
			if (api.pageParam.shoucang == 0) {
				alert('已经收藏过了')
			} else {
				api.getPrefs({
					key : 'user'
				}, function(ret, err) {
					var user = ret.value
					if (user) {
						api.ajax({
							url : Api + 'shoucangV.html',
							method : 'post',
							timeout : 30,
							dataType : 'text',
							returnAll : false,
							data : {
								values : {
									vid : vid,
									username : user ,
								},
							}
						}, function(ret, err) {
							if (ret == 11) {
								alert('已经收藏过了')
							} else if (ret == 0) {
								api.toast({
									msg : '收藏成功'
								});
							} else {
							}
						});
					} else {
						api.toast({
							msg : '请在登录后操作，谢谢'
						});
					}
				});
			}
		}

		//     推荐渲染
		function tuijian() {
			api.showProgress({
				style : 'default',
				animationType : 'fade',
				title : '努力加载中...',
				text : '先喝杯茶...',
				modal : false
			});
			api.ajax({
				url : Api + 'tuijianout.html',
				method : 'post',
			}, function(ret, err) {
				var html = '';
				var list = $api.byId('list');
				var myobj = ret
				for (var i = 0; i < 3; i++) {
					var title = myobj[i].vname;
					var ftitle = myobj[i].ftitle
					var vid = myobj[i].vid;
					var xu = myobj[i].xu;
					var fname = myobj[i].fname;
					var vprice = myobj[i].vprice;
					var vbianhao = myobj[i].vbianhao;
					var pic = myobj[i].vpic;
					var img = pic.split(' ');
					var picc = myobj[i].purl;
					var varr = eval(myobj[i].vurl)
					var vurl = eval(myobj[i].vurl)[0]
					var vvprice = eval(myobj[i].vvprice)
					var totaltime = eval(myobj[i].vtime)[0]
					var piccc = imageCache(picc)
					html += '<div onclick="openV(\'' + vurl + '\' ,\'' + vid + '\',\'' + varr + '\',\'' + title + '\',\'' + vbianhao + '\',\'' + pic + '\' ,\'' + vprice + '\',' + xu + ',\'' + fname + '\',\'' + vvprice + '\')" class="H-display-table-cell H-theme-background-color-white H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-4 H-margin-vertical-bottom-10   " style="margin-bottom: 10px; ">';
					html += '<img src="' + piccc + '"    data-echo="' + piccc + '" class=" H-float-right H-margin-vertical-top-8 H-margin-horizontal-both-2 H-display-block" alt="" title="" style="width: 96%" ;height:200>';
					html += '<img src="../../image/xia.png " class=" H-float-right  H-margin-vertical-top-8 H-margin-horizontal-both-2 H-display-block" style="margin-top: -200px; height: 200px ; width: 96%" alt="" title="">';
					html += '<div  class=" " style=" margin-right:8px; margin-top:-30px;line-height: 30px; float: right; color:white ;">' + totaltime + '</div>';
					html += '<div class="H-padding-horizontal-left-5 H-font-size-12 H-padding-vertical-top-10    " style="line-height: 35px">' + ftitle.substr(0, 7) + '</div>';
					html += ' </div>';
				}
				$api.html(list, html);
				api.hideProgress();
				api.refreshHeaderLoadDone();
				echo.init({
					offset : 0,
					throttle : 150,
					unload : false,
					callback : function(element, op) {
					}
				});
			});
		}
	</script>
</html>
