<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
		<title>title</title>
		<link rel="stylesheet" type="text/css" href="../../css/Hui.css"/>
		<style>
			body {
			}
			.H-theme-font-color-zhuti {
				color: #ff6606;
			}
			.H-theme-background-color-zhuti {
				background-color: #ff6606;
			}
			.H-theme-border-color8 {
				border: 1px solid #ff6606;
			}
		</style>
	</head>
	<body>
		<div id="title" class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle  "></div>
		<!--		<div class="H-padding-vertical-bottom-10"></div>-->
		<div class="result"></div>
		<script type="text/html" id="tppl">
			<% for(var i=0; i < list.length; i++){ %>
			<div onclick="setpath(this,'<%=list[i] %>')" class=" fangkuang H-margin-horizontal-both-2 H-margin-vertical-both-5 H-theme-font-color-zhuti    H-padding-horizontal-both-10 H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-9 H-center-all H-theme-background-color-white H-border-horizontal-right-after H-border-vertical-bottom-after H-padding-vertical-both-10" style="max-height: 40px; min-width: 45px;border-radius: 4px;">
			<div class=" H-center-all"style="line-height: 20px">
			<%=[i+1]%> <!--<span class="H-icon H-display-block H-horizontal-center"><i class="H-iconfont H-icon-user H-font-size-24 H-vertical-middle"></i></span>-->
			<label class="H-display-block H-font-size-12"></label>
			</div>
			</div><% } %>
		</script>
		<div class="H-margin-horizontal-both-2 H-margin-vertical-both-5  H-border-radius-9 H-padding-horizontal-both-10 H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-9 H-center-all H-theme-background-color-white H-border-horizontal-right-after H-border-vertical-bottom-after H-padding-vertical-both-10" style="max-height: 40px;min-width: 45px;border-radius: 4px;">
			<div class=" "style="line-height: 20px">
				<i class="H-iconfont H-icon-add H-theme-font-color-zhuti H-font-size-18  H-vertical-middle"></i>
				<!--<span class="H-icon H-display-block H-horizontal-center"><i class="H-iconfont H-icon-user H-font-size-24 H-vertical-middle"></i></span>-->
				<label class="H-display-block H-font-size-12"></label>
			</div>
		</div>
		<div class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle H-border-vertical-bottom-after">
			<div class="H-channel-line H-theme-background-color-zhuti H-padding-vertical-top-25 H-padding-horizontal-left-3  H-margin-horizontal-left-4"></div>
			<div class="H-channel-text H-theme-font-color-black H-flex-item H-font-size-18 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">
				预览视频图片 <i class="H-iconfont H-icon-arrow-right H-font-size-25 "></i>
			</div>
			<!--<span tapmode=""  data-open="false" class="H-icon H-position-relative H-display-block H-float-right H-vertical-middle H-theme-font-color-black H-padding-horizontal-both-10 H-z-index-1000 H-theme-font-color-hui">范冰冰 &nbsp<div style="height:14px; width:1px; border-left:1px #9E9E9E solid"></div>&nbsp 张馨予</span>-->
		</div>
		<div id="img" class="H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-both-10 H-theme-background-color-white">
			 
		</div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/H.js"></script>
	<script type="text/javascript" src="../../script/jie.js"></script>
	<script type="text/javascript">
		H.tppl_flag = ["<%", "%>"];
		apiready = function() {
			var varr = api.pageParam.varr
			var vtitle = api.pageParam.title
			var vbianhao = api.pageParam.vbianhao
			
			var vid = api.pageParam.vid
			var vlist = varr.split(',');
			var playlist = vlist
			var data = {
				list : vlist
			};
			var render = H.tppl(H.D("#tppl").innerHTML);
			H.D(".result").innerHTML = render(data);
//			$api.attr($api.byId('img'), 'src', imgg);
			var html = '';
			html += '<div class="H-flex-item H-padding-horizontal-both-10 H-font-size-15 H-font-weight-600 H-padding-vertical-both-12">' + vtitle + '<span class="H-margin-horizontal-left-5 H-font-size-14 H-theme-font-color-999">编号：<span>' + vbianhao + '</span></span>';
			html += '<button class="H-margin-horizontal-left-1 H-button-1 H-font-size-15 H-outline-none H-padding-vertical-both-4 H-padding-horizontal-both-5 H-theme-background-color-zhuti H-theme-font-color-white H-theme-border-color8 H-theme-border-color8-click H-theme-background-color8-click H-theme-font-color8-click H-border-radius-3">购买全集 </button> </div>';
			html += '<span class="H-icon H-padding-horizontal-right-5 H-display-block"><i onclick="shoucangV(' + vid + ')" class="H-iconfont H-icon-star-null H-theme-font-color-zhuti H-font-size-18  H-vertical-middle"></i><span onclick="shoucangV(' + vid + ')" class="H-font-size-12 H-margin-horizontal-right-10 H-margin-vertical-top-2"style="margin-top: -10px"> 收藏</span></span>';
			$api.html($api.byId('title'), html);
			
//			预览图渲染
            var pic = api.pageParam.img
            var img = pic.split(' ');
			var html2 = '';
			for (var i = 0; i < img.length; i++) {
			html2 += '<div class="H-display-table-cell H-theme-background-color-white H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-4 H-margin-vertical-bottom-10   " style="margin-bottom: 10px; ">';
			html2 += '<img  src="'+img[i]+'" class=" H-float-right H-margin-vertical-top-8 H-margin-horizontal-both-2 H-display-block" alt="" title="" style="width: 96%">';
			html2 += '<img src="../../image/xia.png " class=" H-float-right  H-margin-vertical-top-8 H-margin-horizontal-both-2 H-display-block" style="margin-top: -200px; height: 200px ; width: 96%" alt="" title="">';
			html2 += '<div class="H-padding-vertical-bottom-10 H-theme-background-color-eee  " style="margin: 0 -10px"></div></div>';
			}
			$api.html($api.byId('img'), html2);
			
		};
		function setpath(button, url) {
			var dd = document.getElementsByClassName('fangkuang');
			for ( i = 0; i < dd.length; i++) {
				$api.attr(dd[i], 'class', 'fangkuang H-margin-horizontal-both-2   H-margin-vertical-both-5 H-theme-font-color-zhuti    H-padding-horizontal-both-10 H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-9 H-center-all H-theme-background-color-white H-border-horizontal-right-after H-border-vertical-bottom-after H-padding-vertical-both-10');
			}
			$api.attr(button, 'class', 'fangkuang H-margin-horizontal-both-2 H-theme-border-color8 H-margin-vertical-both-5 H-theme-font-color-zhuti    H-padding-horizontal-both-10 H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-9 H-center-all H-theme-background-color-white H-border-horizontal-right-after H-border-vertical-bottom-after H-padding-vertical-both-10');
			api.setPrefs({
				key : 'vurl',
				value : url
			});
			var jsfun = 'setv()'
			api.execScript({
				name : 'veido',
				frameName : 'top',
				script : jsfun
			});
		}

		function shoucangV(vid) {
			if (api.pageParam.shoucang == 0) {
				alert('已经收藏过了')
			} else {
				api.getPrefs({
					key : 'user'
				}, function(ret, err) {
					var user = ret.value
					api.ajax({
						url : Api + 'shoucangV.html',
						method : 'post',
						timeout : 30,
						dataType : 'text',
						returnAll : false,
						data : {
							values : {
								vid : vid,
								username : user ,
							},
						}
					}, function(ret, err) {
						alert(ret)
						if (ret == 0) {
							alert('收藏成功')
						} else {
							alert('收藏失败或已经收藏过了')
						}
					});
				});
			}
		}
	</script>
</html>

 

